
#map {
    position: absolute;
    top: 0px; 
   left: 0px;
  
}

#sepulchreBox, #armenianMonasteryBox, #christChurchJerusalemCongregationBox, #churchofStJohnTheBaptistBox, #lutheranChurchOfTheRedeemerBox, #custodiaTerraeSanctaeBox, #chapelOfFindingOfTheCrossBox, #franciscanChapelOfSimonOfCyreneBox, #churchOfOurLadyOfSorrowsBox, #ecceHomoBasilicaBox {
  position: absolute;
    top: 0px; 
   left: 1180px;
   width: 300px; 
  height: auto;
  z-index: 399;
  background-color: #f0f0f0; 
  border: 2px solid #333; 
  padding: 20px; 
  font-size: 14px; 
  color: #333;
  text-align: center; 
  line-height: 1.5;
}

.hidden {
  display: none;
}


